<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread][%-5level] %logger{36}.%M:%L - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<logger name="Sample1" level="trace" />
	
	<logger name="com.my.app" level="debug" />
	
	<logger name="org.mybatis" level="info" />
	
	<logger name="org.apache" level="info" />
	
	<root>
		<level value="debug" />
		<appender-ref ref="consoleAppender" />
	</root>
	
</configuration>