<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="FileMapper">

	<select id="getList" resultType="fileVo">
		SELECT	ID
			  , NAME
			  , TO_CHAR(CREATED_AT, 'YYYY-MM-DD HH24:MI:SS') AS CREATED_AT
		FROM	FILE_MANAGE
		ORDER BY CREATED_AT DESC
	</select>
	
	<select id="get" parameterType="fileVo" resultType="fileVo">
		SELECT	NAME
			  <!-- , CONTENT -->
			  , BYTES
		FROM	FILE_MANAGE
		WHERE	ID = #{id}
	</select>

	<insert id="insert" parameterType="fileVo">
		INSERT INTO FILE_MANAGE (
			ID, NAME, CONTENT, BYTES, CREATED_AT
		) VALUES (
			#{id}, #{name}, #{content}, #{bytes}, SYSDATE
		)
	</insert>

</mapper>