<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="DBCP" type="com.my.app.common.dao.CommonDataSourceFactory" />
		<typeAlias alias="fileVo" type="com.my.app.file.vo.FileVo" />
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="DBCP">
				<property name="initial_context" value="java:/comp/env" />
				<property name="data_source" value="jdbc/orcl" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<!-- mariadb -->
		<mapper resource="mybatis/mariadb/mapper/Sample1Mapper.xml" />
		<!-- oracle -->
		<mapper resource="mybatis/oracle/mapper/FileMapper.xml" />
	</mappers>

</configuration>