<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<listener>
		<listener-class>com.my.app.common.listener.CommonServletContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.my.app.common.listener.LoginSessionListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>commonServlet</servlet-name>
		<servlet-class>com.my.app.common.servlet.CommonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>commonServlet</servlet-name>
		<url-pattern>/sample/*</url-pattern>
		<url-pattern>/sample1/*</url-pattern>
		<url-pattern>/sample2/*</url-pattern>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>
	
	<jsp-config>
		<jsp-property-group>
			<include-prelude>/WEB-INF/views/common/taglibs.jsp</include-prelude>
			<url-pattern>*.jsp</url-pattern>
		</jsp-property-group>
	</jsp-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
